html[data-theme=dark] {
  --pst-color-primary: #9ccfd8;
  --pst-color-secondary: #f6c177CD;
  /* --pst-color-primary-bg: #d0ecf1;
  --pst-color-secondary-bg: #e0c7ff; */
  --pst-color-accent: #ea9a97;
  --pst-color-accent-bg: #ea9a9740;
  --pst-color-info: #3e8fb0;
  --pst-color-info-bg: #3e8fb040;
  --pst-color-warning: #eb6f92;
  --pst-color-warning-bg: #eb6f9240;
  --pst-color-success: #9ccfd8;
  --pst-color-success-bg: #9ccfd840;
  --pst-color-attention: var(--pst-color-warning);
  --pst-color-attention-bg: var(--pst-color-warning-bg);
  --pst-color-danger: #d62c45; 
  --pst-color-danger-bg: #d62c4540;
  --pst-color-text-base: #e0def4;
  --pst-color-text-muted: #908caa;
  --pst-color-heading-color: #14181e;
  --pst-color-shadow: rgba(0,0,0,.2);
  --pst-color-border: #393552;
  --pst-color-border-muted: #2a273f;
  --pst-color-inline-code: #c4a7e7;
  --pst-color-inline-code-links: `;
  /* --pst-color-target: #f6c17780;  dont know */
  --pst-color-background: #232136;
  --pst-color-on-background: #2a273f;
  --pst-color-surface: #2a273f; 
  --pst-color-on-surface: #f3f4f5;
  --pst-color-link: #ea9a97;
  --pst-color-link-hover: #eb6f92;
  --bs-border-color: #484364;
  color-scheme: dark;
}
footer.bd-footer-content {
  border-top: 1px solid var(--bs-border-color);
}
