html[data-theme=light] {
  --pst-color-primary: #56949f;
  --pst-color-secondary: #ea9d34CD;
  --pst-color-primary-bg: #232136;
  --pst-color-secondary-bg: #2a273f;
  --pst-color-accent: #ea9a97;
  --pst-color-accent-bg: #ea9a9740;
  --pst-color-info: #3e8fb0;
  --pst-color-info-bg: #3e8fb040;
  --pst-color-warning: #eb6f92;
  --pst-color-warning-bg: #eb6f9240;
  --pst-color-success: #9ccfd8;
  --pst-color-success-bg: #9ccfd840;
  --pst-color-attention: var(--pst-color-warning);
  --pst-color-attention-bg: var(--pst-color-warning-bg);
  --pst-color-danger: #e65d72; 
  --pst-color-danger-bg: #e65d7240;
  --pst-color-text-base: #e0def4;
  --pst-color-text-muted: #908caa;
  --pst-color-heading-color: #14181e;
  --pst-color-shadow: rgba(0,0,0,.2);
  --pst-color-border: #2a273f;
  --pst-color-border-muted: #393552;
  --pst-color-inline-code: #c4a7e7;
  --pst-color-inline-code-links: #eb6f92;
  /* --pst-color-target: #f6c17780;  dont know */
  --pst-color-background: #faf4ed;
  --pst-color-on-background: #fffafa;
  --pst-color-surface: #fffafa; 
  --pst-color-on-surface: #fffafa;
  --pst-color-link: #d7827e;
  --pst-color-link-hover: #b4637a;
  color-scheme: light;
}