html[data-theme=light] {
  --pst-color-primary: #56949f;
  --pst-color-secondary: #ea9d34CD;
  /* --pst-color-primary-bg: #232136;
  --pst-color-secondary-bg: #2a273f; */
  --pst-color-accent: #d7827e;
  --pst-color-accent-bg: #d7827e40;
  --pst-color-info: #3e8fb0;
  --pst-color-info-bg: #3e8fb040;
  --pst-color-warning: #b4637a;
  --pst-color-warning-bg: #b4637a40;
  --pst-color-success: #56949f;
  --pst-color-success-bg: #56949f40;
  --pst-color-attention: var(--pst-color-warning);
  --pst-color-attention-bg: var(--pst-color-warning-bg);
  --pst-color-text-base: #575279;
  --pst-color-text-muted: #797593;
  --pst-color-heading-color: #575279;
  --pst-color-shadow: rgba(0,0,0,.2);
  --pst-color-border: #fffaf3;
  --pst-color-border-muted: #f2e9e1;
  --pst-color-inline-code: #907aa9;
  --pst-color-inline-code-links: #b4637a;
  /* --pst-color-target: #f6c17780;  dont know */
  --pst-color-background: #faf4ed;
  --pst-color-on-background: #fffafa;
  --pst-color-surface: #fffafa; 
  --pst-color-on-surface: #fffafa;
  --pst-color-link: #d7827e;
  --pst-color-link-hover: #b4637a;
  color-scheme: light;
}